# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Makefile

# Build artifacts
build/
bin/
*.out
*.so
*.a
*.dll
*.exe

# OS-specific
.DS_Store
Thumbs.db

# Editor-specific
.vscode/
.idea/

# Log files
*.log
